<style>
#game_wrapper {
	margin: auto;
	border: solid 1px #aaa;
	width: 750px;
	min-height: 450px;
}

#loading_spinner_img {
    margin-left: 300px;
    margin-top: 150px;
}

#flash_game {
    text-align: center;
}
</style>

<div id="game_wrapper">
    <img id="loading_spinner_img" src="<%= asset_path 'loading.gif' %>" />
    <div id="flash_game" style="display:none;">
        Flash game goes here.
    </div>
</div>

<script>
// Global container for app properties. Accessible to the Flash app.
window.SavePrincessBob = window.SavePrincessBob || {};
SavePrincessBob.user_profile = {};
SavePrincessBob.friends = {};
SavePrincessBob.game_id = "";
SavePrincessBob.app_settings = {
	app_id : "",
	app_secret : "",
	scope : "",
	redirect_uri : "",
    authResponse : ""
};

// Use Milwaukee frontend framework to initialize FB sdk
M.facebook.initializeJsSdk(initializeApp);
	
// Initialize the app.
function initializeApp() {
	// Facebook credentials
	// If we are in production, use the first credential. If not (we are on localhost), use the second credential.
	var app_id = "<%= Rails.env.production? ? "236427646469921" : "241558389277122"%>",
      app_secret = "<%= Rails.env.production? ? "f068c9ba4a276106a6682c08ea358c94" : "fd2fcd30f2fa0d1493b185b2ac6f2769" %>",
      scope = "", // The scope of our permissions is just basic info
      redirect_uri = "<%= Rails.env.production? ? 'https://apps.facebook.com/save_princess_bob/' : 'http://localhost:3000' %>";

    SavePrincessBob.app_settings = {
    	app_id : app_id,
    	app_secret : app_secret,
    	scope : scope,
    	redirect_uri : redirect_uri
    };

    // Initialize FB sdk with credentials
    FB.init({
		appId: app_id,
		// Once the user has authorized the sending of a request to a friend once, 
		// she may do so again without without the auth dialog.
  		frictionlessRequests: true,
  		// enable cookies to allow the server to access the session
  		cookie: true 
  	});

  	// Once the page (includes FB sdk) has finished loading, start the game.
  	$(function () {
  		login(startGame, app_id, scope, redirect_uri)
  	});
}

// Log in.  Once the user is logged in, call the specified connected callback function.
function login(connectedCallback, app_id, scope, redirect_uri) {
	FB.getLoginStatus(function (response) {
        if (response.status === 'connected') {
          // the user is logged in and connected to your app, and response.authResponse supplies
          // the user’s ID, a valid access token, a signed request, and the time the access token
          // and signed request each expire.
          connectedCallback(response);
        } else {
          M.facebook.redirectToLogin(app_id, scope, redirect_uri);
        }
  	});
}

// Start the game.
function startGame(login_response) {
	SavePrincessBob.app_settings.authResponse = login_response;
	// Fetch the current user's profile information
	FB.api("/me", function (response) {
		if (response) {
			startGameForUser(response);
		} else {
			l("Error loading user:");
			l(response);
		}
	});
}

// Install the user
function startGameForUser(user_profile) {
	SavePrincessBob.user_profile = user_profile;
	FB.api("/me/friends", { access_token : SavePrincessBob.app_settings.authToken }, function (response) {
        // Install friends
        SavePrincessBob.friends = response;
        SavePrincessBob.game_id = getGameIdFromUrlParameters();
        showFlashGame();
        l("Friends loaded! Start the game.");
        l(SavePrincessBob);
	});
}

// Get the Game ID from the URL parameters, if it exists.
// If the Game ID does exist, the user is visiting the game made by a friend.
// If the Game ID does not exist, the user is creating a brand new game.
function getGameIdFromUrlParameters() {
    var url_params = window.location.search.substring(1); // Cut off initial '?' if there is one
    var params = url_params.split("&");
    for (var i = 0; i < params.length; i++) {
        var param_pair = params[i].split("=");
        var param_name = param_pair[0];
        var value = param_pair[1];
        if (param_name == "game_id") {
            return value;
        }
    }
    return "";
}

// Display the flash game
function showFlashGame() {
    $("#loading_spinner_img").fadeOut(function () {
        $("#flash_game").fadeIn();
    });
}

</script>